<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>여행 계획 챗봇</title>
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/chat.css" type="text/css">
</head>
<body>
<div class="chat-banner">
    <span>👋 나와 맞는 여행 메이트를 찾아봐요 ! </span>
    <a href="" class="match-btn">매칭 메이트 찾기</a>
</div>  
<div id="wrap">
    <div class="container">
        <div class="nav-bar">
            <div class="logo">
                <a href="/main">
                    <img src="../image/TripPasslogo.png" alt="트립패스로고">
                </a>
            </div>
            <div class="bell">
                <a href="">
                    <img src="../image/bell.png" alt="알림아이콘">
                </a>
            </div>
        </div>
        <div class="chat">
            <div class="chat-tile">
                <span><%= trip.title%></span>
            </div>
            <div class="chat-area">
                <div class="sidebar">
                    <ul>
                        <li>반가워요! <%= user.name %>님! ...</li>
                    </ul>
                    <div class="user">
                        <div class="user-profile">
                            <img src="data:image/png;base64,<%= user.profile %>" alt="사용자 사진">
                        </div>
                        <div class="user-name"><a href="/mypage"><%= user.name %></a></div>
                    </div>
                </div> 
                <div class="chat-message">
                    <div class="chat-messages">
                        <div class="public">
                            <div class="public-message">
                                <div class="bot-profile"><img src="../image/chatbot.png" alt="챗봇 사진"></div>
                                <div class="bot-chat-public"><span class="bold-text-world">반가워요!<br></span><span class="bold-text-name"><%= user.name %></span>님!<br/><br/>여행 챗봇 🤖세영이🤖 입니다<br/><br/>여행 계획을 함께 만들어볼까요?🙏<br/>원하시는 카테고리를 선택해주세요!<br><br>그치만 지금은 대화만 가능하니까 그냥 입력해주세요!</div>
                            </div>
                            <div class="chat-btn">
                                <div class="btn-food">맛집 🍽</div>
                                <div class="btn-tour">관광 🗽</div>
                                <div class="btn-etc">힐링 😌</div>
                            </div>
                        </div>
                        <% messages.forEach(message => { %>
                            <div class="chat-bubble-user">
                                <div class="user-chat"><%= message.question %></div>
                                <div class="user-profile"><img src="data:image/png;base64,<%= user.profile %>" alt="사용자 사진"></div>
                            </div>
                            <div class="public">
                                <div class="public-message">
                                    <div class="bot-profile"><img src="../image/chatbot.png" alt="챗봇 사진"></div>
                                    <div class="bot-chat-public"><%= message.response %></div>
                                </div>
                                <% if (!hideButtons) { %>
                                    <div class="chat-btn" id="chat-btn-container">
                                        <form action="/other" method="POST">
                                            <input type="hidden" name="response" value="<%= message.response %>">
                                            <button type="submit" class="btn-other">다른 코스 알려줘🤔</button>
                                        </form>
                                        <form action="/insert" method="GET" onsubmit="hideButtons(event)">
                                            <input type="hidden" name="response" value="<%= message.response %>">
                                            <button type="submit" class="btn-insert">좋아 계획에 추가할게🥰</button>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        <% }) %>
                    </div>
                    <div class="scroll-top"><a href="javascript:void(0)" onclick="scrollToTop()">TOP</a>
                    </div>
                    <div class="input-area">
                        <form action="/question" method="POST">
                            <input type="text" id="message-input" name="question" placeholder="질문을 입력하세요 :)">
                            <button type="submit" id="submit" value="question" class="send-button">전송</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function scrollToBottom() {
        const chatMessages = document.querySelector('.chat-messages');
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }
    document.addEventListener('DOMContentLoaded', scrollToBottom);
    function scrollToTop() {
        const chatMessages = document.querySelector('.chat-messages');
        chatMessages.scrollTop = 0;
    }

    function hideButtons(event) {
        event.preventDefault();
        document.querySelectorAll('.chat-btn').forEach(btnContainer => {
            btnContainer.style.display = 'none';
        });
        fetch('/hideButtons', { method: 'POST' });
        event.target.submit(); // 실제 제출을 진행합니다.
    }
</script>
</body>
</html>
